<p>
  <%= content_tag(:label, l(:label_settings_tracker)) %>
  <%= select_tag("settings[tracker]", options_from_collection_for_select(Tracker.all, :id, :name, Setting.plugin_AgileDwarf[:tracker].to_i)) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_activity)) %>
  <%= select_tag("settings[activity]", options_from_collection_for_select(TimeEntryActivity.all, :id, :name, Setting.plugin_AgileDwarf[:activity].to_i)) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_closedstatus)) %>
  <%= select_tag("settings[stclosed]", options_from_collection_for_select(IssueStatus.all, :id, :name, Setting.plugin_AgileDwarf[:stclosed].to_i)) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_column1status)) %>
  <%= select_tag("settings[stcolumn1]", options_from_collection_for_select(IssueStatus.all, :id, :name, Setting.plugin_AgileDwarf[:stcolumn1].to_i)) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_column2status)) %>
  <%= select_tag("settings[stcolumn2]", options_from_collection_for_select(IssueStatus.all, :id, :name, Setting.plugin_AgileDwarf[:stcolumn2].to_i)) %>
</p>

<p>
  <%= content_tag(:label, l(:label_settings_column3status)) %>
  <%= select_tag("settings[stcolumn3]", options_from_collection_for_select(IssueStatus.all, :id, :name, Setting.plugin_AgileDwarf[:stcolumn3].to_i)) %>
</p>