<div class='sprints_panel <%= sprint.status == 'closed' ? 'closed_sprint' : '' %>' id="sprint.<%= sprint.id %>">
  <div class="sprints_panel_header">
    <span class="fl sprint_start"><%= sprint['ir_start_date'] || l(:label_sprints_placeholder_startdate) %></span>
    <span class="fl sprint_end"><%= sprint['ir_end_date'] || l(:label_sprints_placeholder_enddate) %></span>
    <h3 class="fl sprint_name"><%= sprint.name %></h3>
    <img class="fr add_task" src="<%= Engines::RailsExtensions::AssetHelpers.plugin_asset_path('redmine_scrum', 'images', 'add_task.png') %>" title="<%= l(:label_sprints_title_add_task) %>"/>
    <img class="fr fold_sprint" src="<%= Engines::RailsExtensions::AssetHelpers.plugin_asset_path('redmine_scrum', 'images', 'fold_sprint.png') %>" title="<%= l(:label_sprints_title_fold) %>"/>
    <img class="fr close_sprint" src="<%= Engines::RailsExtensions::AssetHelpers.plugin_asset_path('redmine_scrum', 'images', sprint.status == 'closed' ? 'closed_sprint.png' : 'close_sprint.png') %>" title="<%= l(:label_sprints_title_close) %>"/>
    <span class="sprint_description"><%= sprint['description'].blank? ? l(:label_sprints_placeholder_desc) : sprint['description'] %></span>
  </div>
  <div class="task_list">
    <%= render :partial => "task", :collection => sprint.tasks %>
  </div>
  <div class="time_list fr">
  </div>
</div>
