<div id="task.<%=h task.id %>" class="sc_task">
  <div class="fl task_no"><a href="/issues/<%=h task.id %>">#<%=h task.id %></a></div>
  <div class="fl task_desc"><img src="<%= Engines::RailsExtensions::AssetHelpers.plugin_asset_path('AgileDwarf', 'images', 'task_desc.png') %>"/></div>
  <div class="task_subject" title="<%=h task.subject %>"><%=h task.subject %></div>
  <div class="task_row">
      <div class="task_doneratio_slide"></div>
      <div class="task_owner fr"><%=h task.assigned_to %></div>
  </div>
  <div class="task_doneratio_value fl"><%=h task.done_ratio || '0' %></div>
  <div class="fl task_estimate_params">
      <div class="measure fl">%</div>
      <div class="fl task_estimate_sep">/</div>
      <div class="task_estimate fl"><%=h task.estimated_hours || l(:label_sprints_placeholder_estimated) %></div>
      <div class="measure fl">h</div>
  </div>
  <div class="task_add_spent fr">
    <div class="task_add_spent_value fr">X</div>
    <div class="measure fr">+</div>
  </div>
  <div class="fr task_estimate_params">
      <div class="measure fr">h</div>
      <div class="fr task_spent_time"><%=h task.spent || '0' %></div>
  </div>
</div>